@import "../../theme/functions.scss";
@import "../../theme/variables.scss";
@import "../../theme/mixins.scss";
.logo{
    background-color:$color-primary;
    height: 150px;
    width: 150px;   
    margin: auto;
    margin-top:20px;
    @include border-radius(100px);
}
.row{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    margin-top:50px;
    margin-bottom:50px;
    width: 100%;
    @media screen and (max-width: $break-small) {
        display: block;
    }
    .square{
        background-color:$color-primary;
        height: 30px;
        margin-left:20px;
        margin-right:20px;
        width: 120px;
        @include border-radius(5px);
        @media screen and (max-width: $break-small) {
            width: 90%;
            float: none;
            margin-left:5%;
            margin-bottom: 10px;
            margin-right:5%;
        }
    }
}
