<div class="footer">
  <div class="footerEle">
    <div class="footerTitle"></div>
    <div class="footerText one"></div>
    <div class="footerText two"></div>
    <div class="footerText three"></div>
  </div>
  <div class="footerEle">
    <div class="footerTitle"></div>
    <div class="footerText one"></div>
    <div class="footerText two"></div>
    <div class="footerText three"></div>
  </div>
  <div class="footerEle">
    <div class="footerTitle"></div>
    <div class="footerText one"></div>
    <div class="footerText two"></div>
    <div class="footerText three"></div>
  </div>
  <div class="footerEle">
      <div class="footerTitle"></div>
      <div class="footerSq"></div>
      <div class="footerSq"></div>
      <div class="footerSq"></div>
    </div>  
</div>