@import "../../theme/functions.scss";
@import "../../theme/variables.scss";
@import "../../theme/mixins.scss";
.footer{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    margin-top:70px;
    background-color: $color-container;
    padding:50px;
    @media screen and (max-width: $break-small) {
        display: block;
        padding: 0px;
        padding-top: 10px;
    }
    @include box_shadow(2);
    .footerEle{
        float: left;
        height: 100px;
        margin-left:5%;
        margin-right:5%;
        width:15%;
        @media screen and (max-width: $break-small) {
            width:100%;
            float: none;
            height: 120px;
        }
        .footerTitle{
            background-color: $color-font-input;
            @include border-radius(3px);
            height: 20px;
            margin-bottom: 20px;
            width: 50%;
        }
        .footerText{
            background-color: $color-primary;
            @include border-radius(3px);
            height: 20px;
            margin-top: 5px;
        }
        .one{
            width:90%;
        }
        .two{
            width:70%;
        }
        .three{
            width:80%;
        }
        .footerSq{
            background-color: $color-primary;
            @include border-radius(3px);
            height: 70px;
            width:25%;
            float: left;
            margin-right: 8%;
        }
    }
}