$color-primary:#CCCCCC;
$color-secundary:#AAAAAA;
$color-container:#E0E0E0;
$color-button:#A8A8A8;
$color-font-button:#FFFFFF;
$color-footer-thing:#808080;
$color-font-input:#444444;
$break-small: 320px;
$break-large: 1200px;