@import "../../theme/functions.scss";
@import "../../theme/variables.scss";
@import "../../theme/mixins.scss";
.container{
    background-color: $color-container;
    padding-top: 150px;
    @media screen and (max-width: $break-small) {
        padding-top: 50px;
    }
    @include box_shadow(2);
    #base{
        float: right;
    }
    #converted{
        float: left;
    }
    @media screen and (max-width: $break-small) {
        #base,#converted{
            float:none;
        }
    }
    input[type="text"]{
        @include border-radius(5px);
        border:1px;
        color:$color-font-input;
        height: 30px;
        width: 40%;
        margin-left:40px;
        margin-right:40px;
        text-align: center;
        @media screen and (max-width: $break-small) {
            margin-left:5%;
            margin-right:5%;
            margin-bottom: 10px;
            width: 90%;
        }
    }
    button{
        @include border-radius(5px);
        border:1px;
        background-color:$color-button;
        color: $color-font-button;
        padding: 20px 100px 20px 100px;
        text-align: center;
        @media screen and (max-width: $break-small) {
            margin-left:5%;
            margin-right:5%;
            padding: 20px;
            width: 90%;
        }
    }
    .row{
        height: 100px;
        width: 100%;
        text-align: center;
        .currency{
            width: 50%;
            @media screen and (max-width: $break-small) {
                width: 100%;
            }
            float:left;
        }
    }   
}