<div class="container">
  <div class="row">
    <div class="currency"><input id="base" type="text" name="currency" placeholder="USD" (blur)="transformAmount($event)" (focus)="removeCurrencyPipeFormat($event)" required pattern="[0-9]+" #firstValue></div>
    <div class="currency"><input id="converted" placeholder="EUR" type="text" #secondValue readonly></div>
  </div>
  <div class="row">
    <button (click)="calculate()">CALCULATE</button>
  </div>
</div>